.message-container::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(227, 225, 225);
}

.message-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

.dp-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.controller{
    width: 100%;
}

.controller > * {
    border:0px !important;
    resize: none;
    border-top-left-radius:0px !important;
    border-bottom-left-radius: 0px !important;
    font-family:Arial, Helvetica, sans-serif;
}

.controller > *:focus {
    outline: none !important;
    border: 0px !important;
    outline-color: transparent !important;
}

.cbd-label {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.snd-btn {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-radius: 20px;
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.01s ease-in-out;
}  

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
    height: 200px;
}
  
.overlay-secondary {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
    height: 200px;
}

.sound-wave {
    display: none !important;
}

.audio-recorder {
    width: 100%;
}